.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
}

form {
    width: 700px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 20px;
}

.password-eye {
    position: relative;
}

.eye-btn {
    position: absolute;
    top: 12px;
    right: 20px;
}