<nav>
    <div class="navbar-1">
        <ul class="navbar-menu">
            <ul class="logo">
                <li class="title">S M S</li>
            </ul>
            <li class="navbar-items"><a href="#">Home</a></li>
            <li class="navbar-items"><a href="#">Dashboard</a></li>
            <li class="navbar-items"><a routerLink="department">Department</a></li>
            <li class="navbar-items"><a href="#">About Us</a></li>
            <li class="navbar-items"><a href="#">Contact Us</a></li>
            <ul class="login-container">
                <li class="login-items"><a href="#" routerLink="/signup">SignUp</a></li>
                <li class="login-items"><button class="login-button" routerLink="login">Login</button></li>
            </ul>
        </ul>
    </div>
</nav>`